[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-rest-knox = "*"

[dev-packages]
markdown = "*"

[requires]
python_version = "3.6"
